*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 56px;
    color: white;
}

.navbar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000;
    position: relative;
    height: 100%;
}
.links li a{
    color: white;
    text-decoration: none;
}
.links .logo{
    height: 100px;
    width: 100px;
    background-color: #000;
    position: relative;
    top: 4px;
    padding: 0 5px 5px; 
    -webkit-clip-path: polygon(50% 0% 100% 50% 50% 100% 0 50%);
    clip-path: polygon(50% 0% 100% 50% 50% 100% 0 50%)
}
.links .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#banner {
    position: relative;
}
#banner img {
	width: 100%;
	height: 100%;
	
}
#banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-40%) translateY(-75%);
    color: #fff;
    text-align: center;
}
#banner h1{
    font-size: 40px;
}
section {
    width: 100%;
    margin-bottom: 10px;
}
#blog h4, p, button{
	text-align: center;
}
#blog .contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#blog article {
	margin: 15px;
}

#blog img {
	width: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
#blog .recortar{
    height: 200px;
}